<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetandroid">

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetAndroid">
        <activity android:name=".AdditionSoustractionActivity" />
        <activity android:name=".ExoQuiz" />
        <activity android:name=".QcmActivity" />
        <activity android:name=".ErreursActivity" />
        <activity android:name=".FelicitationsActivity" />
        <activity android:name=".TableMultiplicationActivity" />
        <activity android:name=".ChoixExercice" />
        <activity android:name=".ExoMath" />
        <activity android:name=".TablesMultiplication" />
        <activity android:name=".CreerCompte" />



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>